<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active"><a href="javascript:;">Dashboard</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Broker <small>Dashboard</small></h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-teal">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">TOTOAL REVENUE</div>
                <div class="stats-number">&#8358;7,842,900</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 70.1%;"></div>
                </div>
                <div class="stats-desc">Better than last week (70.1%)</div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">WALLET BALANCE</div>
                <div class="stats-number">&#8358;2,180,200</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 40.5%;"></div>
                </div>
                <div class="stats-desc">Better than last week (40.5%)</div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-indigo">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">PENDING INSURANCE REQUESTS</div>
                <div class="stats-number">32</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Better than last week (76.3%)</div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-dark">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
            <div class="stats-content">
                <div class="stats-title">PENDING CLAIMS</div>
                <div class="stats-number">13</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Better than last week (54.9%)</div>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <!-- begin col-8 -->
    <div class="col-lg-8">
        <div class="widget-chart with-sidebar inverse-mode">
            <div class="widget-chart-content bg-dark">
                <h4 class="chart-title">
                    Client Analytics
                    <small>Where do our visitors come from</small>
                </h4>
                <div class="widget-chart-full-width nvd3-inverse-mode">
                    <nvd3 [options]="stackedChartOptions" [data]="stackedChartData"></nvd3>
                </div>
            </div>
            <div class="widget-chart-sidebar bg-dark-darker">
                <div class="chart-number">
                    116
                    <small>Total clients</small>
                </div>
                <div class="flex-grow-1 d-flex align-items-center nvd3-inverse-mode">
                    <nvd3 [options]="donutChartOptions" [data]="donutChartData"></nvd3>
                </div>
                <ul class="chart-legend f-s-11">
                    <li><i class="fa fa-circle fa-fw text-blue f-s-9 m-r-5 t-minus-1"></i> 34.0% <span>New
                            Clients</span></li>
                    <li><i class="fa fa-circle fa-fw text-teal f-s-9 m-r-5 t-minus-1"></i> 56.0% <span>Return
                            Clients</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end col-8 -->
    <!-- begin col-4 -->
    <div class="col-lg-4">
      <!-- begin panel -->
      <panel footerClass="text-center" noButton="true" noBody="true">
          <ng-container header>
              <h4 class="panel-title">New Registered Clients</h4>
              <span class="label bg-teal">24 new clients</span>
          </ng-container>
          <ng-container outsideBody>
              <ul class="registered-users-list clearfix">
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-5.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Jerry Olugbenga
                          <small>Nigerian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-3.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Michael Okoye
                          <small>Nigeria</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-1.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Bamidele Ademiluyi
                          <small>Nigeria</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-8.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Joy Atube
                          <small>Ghanaian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-2.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Ikenna Ezeokweluma
                          <small>Nigerian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-6.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Ferdinand Craig
                          <small>Nigerian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-4.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Rachel Adams
                          <small>Malaysian</small>
                      </h4>
                  </li>
                  <li>
                      <a href="javascript:;"><img src="/assets/img/user/user-9.jpg" alt="" /></a>
                      <h4 class="username text-ellipsis">
                          Clay Hike
                          <small>Swedish</small>
                      </h4>
                  </li>
              </ul>
          </ng-container>
          <ng-container footer>
              <a href="javascript:;" class="text-inverse">View All</a>
          </ng-container>
      </panel>
      <!-- end panel -->
  </div>
  <!-- end col-4 -->
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <!-- begin col-8 -->
    <div class="col-lg-8">
      <!-- begin panel -->
      <panel title="Message">
        <perfect-scrollbar class="height-sm">
          <ul class="media-list media-list-with-divider media-messaging">
            <li class="media media-sm">
              <a href="javascript:;" class="pull-left">
                <img src="/assets/img/user/user-5.jpg" alt="" class="media-object rounded-corner" />
              </a>
              <div class="media-body">
                <h5 class="media-heading">John Doe</h5>
                <p>This is a dummy message just for demo purpose only. Morbi id nunc non eros fermentum vestibulum ut id felis. Nunc molestie libero eget urna aliquet, vitae laoreet felis ultricies. Fusce sit amet massa malesuada, tincidunt augue vitae, gravida felis.</p>
              </div>
            </li>
            <li class="media media-sm">
              <a href="javascript:;" class="pull-left">
                <img src="/assets/img/user/user-6.jpg" alt="" class="media-object rounded-corner" />
              </a>
              <div class="media-body">
                <h5 class="media-heading">Terry Ng</h5>
                <p>This is a dummy message just for demo purpose only. Quisque ante sem, scelerisque iaculis interdum quis, eleifend id mi. Fusce congue leo nec mauris malesuada, id scelerisque sapien ultricies.</p>
              </div>
            </li>
            <li class="media media-sm">
              <a href="javascript:;" class="pull-left">
                <img src="/assets/img/user/user-8.jpg" alt="" class="media-object rounded-corner" />
              </a>
              <div class="media-body">
                <h5 class="media-heading">Michael Okoye</h5>
                <p>This is a dummy message just for demo purpose only. Nulla rutrum eu leo vulputate ornare. Nulla a semper mi, ac lacinia sapien. Sed volutpat ornare eros, vel semper sem sagittis in. Quisque risus ipsum, iaculis quis cursus eu, tristique sed nulla.</p>
              </div>
            </li>
            <li class="media media-sm">
              <a href="javascript:;" class="pull-left">
                <img src="/assets/img/user/user-7.jpg" alt="" class="media-object rounded-corner" />
              </a>
              <div class="media-body">
                <h5 class="media-heading">Ken Miles</h5>
                <p>This is a dummy message just for demo purpose only. Morbi condimentum nisl iaculis, laoreet risus sed, porta neque. Proin mi leo, dapibus at ligula a, aliquam consectetur metus.</p>
              </div>
            </li>
          </ul>
        </perfect-scrollbar>

        <ng-container footer>
          <form>
            <div class="input-group">
              <input type="text" class="form-control bg-light" placeholder="Enter message" />
              <span class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fa fa-pencil-alt"></i></button>
              </span>
            </div>
          </form>
        </ng-container>
      </panel>
      <!-- end panel -->
    </div>
    <!-- end col-8 -->

</div>
<!-- end row -->
