<sb-layout-error>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">Old Mutual</h1>
                    <p class="lead">Welcome - Insurance Broker Portal</p>
                </div>
                <div class="row text-center mt-4">
                    <div class="col-sm">
                        <a class="lead" routerLink="/auth"><strong>Register</strong> </a>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <a class="lead" routerLink="/auth"><strong>Login</strong></a>
                    </div>
                </div>
               
                    <img src="/src/assets/img/oldmutual-image.png" alt="">
                    
            </div>
        </div>
    </div>
</sb-layout-error>